<div class="col-md-8 col-lg-9 products">
  <div class="row">

    <div class="col-sm-4 col-lg-4" *ngFor="let item of elem | paginate: { itemsPerPage: 9, currentPage: p }" (click)="NavToElem(item.key, item)">
      <div class="product">
        <div class="product-img">
          <img [src]="item.linkImg" alt="">
        </div>
        <div>
          <div class="row">
            <p class="product-title">
              <a href="#">{{item.name}}</a>
            </p>
          </div>
          <div class="row">
            <p class="product-desc">{{item.description}}</p>
          </div>
          <div class="row">
            <p class="product-price">Price: {{item.price}} грн</p>
          </div>

        </div>
      </div>
    </div>



  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>

</div>
