<div class="contact">
  <div class="contact-top">
    <h3>Звяжіться з нами</h3>
    <p>Номер телефону - +38067 742 02 93</p>
    <p>Номер телефону - +38063 466 88 56</p>
    <p>Емейл - test@gmail.com</p>
  </div>
  <div class="contact-bottom">
    <form>
      <input type="text" placeholder="Name"/>
      <input type="text" class="no-mar" placeholder="Email"/>
      <textarea placeholder="Message"></textarea>
      <input type="submit" value="Send"/>
    </form>
  </div>
  <div class="clearfix"></div>
</div>
<div class="map">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2572.418366237807!2d24.03500681570987!3d49.85338537939742!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add0fe851dae5%3A0x71d04bc08ed13f5e!2z0YPQuy4g0JHQvtCz0LTQsNC90LAg0KXQvNC10LvRjNC90LjRhtC60L7Qs9C-LCAxMTcsINCb0YzQstC-0LIsINCb0YzQstC-0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNzkwMDA!5e0!3m2!1sru!2sua!4v1540648016933"
    frameborder="0" style="border:0"></iframe>
</div>
